# repo build files=====

bin/
include/INIReader.h
include/bcm2835.h
include/ini.h
lib/bcm2835-1.75/Makefile
lib/bcm2835-1.75/config.h
lib/bcm2835-1.75/config.log
lib/bcm2835-1.75/config.status
lib/bcm2835-1.75/doc/Doxyfile
lib/bcm2835-1.75/doc/Makefile
lib/bcm2835-1.75/doc/doxyfile.stamp
lib/bcm2835-1.75/doc/html/
lib/bcm2835-1.75/src/.deps/
lib/bcm2835-1.75/src/Makefile
lib/bcm2835-1.75/src/bcm2835.o
lib/bcm2835-1.75/src/libbcm2835.a
lib/bcm2835-1.75/stamp-h1
lib/inih-r60/INIReader.o
lib/inih-r60/ini.o
lib/inih-r60/libINIReader.a
lib/inih-r60/libinih.a
lib/libINIReader.a
lib/libbcm2835.a
lib/libinih.a

# Apple =============
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#==================

# KALI_ASSISTANT WORKSTATION && WORKSPACE

.Trash-1000
.Trash
.env
env.h
.venv
.pyvenv
build

#==================

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
